.addBandPage{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.generalInputCont{
    width: 600px;
    border: solid 1px black;
    box-shadow: 6px 6px 0px black;
    margin-bottom: 33px;
}

.radios{
    border-bottom: solid 2px black;
    padding: 9px;
}

.barrioType{
    width: 160px;
    text-align: end;
    padding-right: 12px;
}
.dataInputs{
    border-bottom: dotted 2px black;
    padding: 21px;
    text-transform: capitalize;
    min-height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.aDropDown{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    margin-bottom: 12px;
}

.textInput{
    margin: 10px 0px;
    width: 100%;
    display: flex;
    flex-direction: row;

}

.barrioPickers{
    margin-left: 6px;
}

.musicoMayorCont{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.anInputWLabel{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;   
}

.inputLabel{
    width: 160px;
    text-align: end;
    padding-right: 12px;
}

.addMusicianBTN{
    text-align: center;
    margin-top: 21px;
    color: grey;
    border: solid 2px grey;
}

.confirmMuscBTN{
    margin-top: 12px;
    padding: 6px;
    width: fit-content;
    color: grey;
    border: solid 2px grey;
}

.stepControllers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aStepController{
    margin: 6px;
    padding: 6px;
    border: solid 2px black;
    transition: all ease-in 0.5s;
}

.aStepController:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

.summaryCont{
    padding: 21px;
}

.aBandSummaryElemCont{
    display: flex;
    flex-direction: row;
}

.bandExpander{
    border: solid 2px grey;
    text-align: center;
    padding: 4px;
}

.eliminateMemberBTN{
    border: solid 2px red;
    width: fit-content;
    padding: 3px 6px;
    margin-top: 9px;
}

.eliminateMemberBTN:hover{
    cursor: pointer;
}

.submitCont{
    width: 100%;
    display: flex;
    justify-content: center;
}

.submitBandBTN{
    border-right: solid 4px red;
    border-bottom: solid 4px blue;
    padding: 15px;
    margin: 15px;
    transition: all ease-in 0.5s;
}

.submitBandBTN:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

@media (max-width: 600px) {
    .generalInputCont{
        width: 100%;
    }
}
