.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.welcomeContainerGeneral{
  width: 60%;
  min-height: 40vh;
  box-shadow: 10px 10px 0px black;
  border-bottom: solid 2px black;
  border-right: solid 2px black;
}

.titleText{
  width: 100%;
  display: flex;
  flex-direction: column;

}

.blueTitle{
  width: 100%;
  background-color: rgb(13, 13, 199);
  color: white;
  font-size: 3.5em;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding-left: 33px;
  position: relative;
  z-index: -1;
  text-shadow: 2px 2px #000000;
}

.redTitle{
  text-shadow: 2px 2px #000000;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.517);
  width: 100%;
  background-color: crimson;
  color: white;
  font-size: 3.5em;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding: 33px;
}

.BTNCont{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 30px;

}

@media (max-width: 600px) {



}
