.generalNavCont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: hotpink; */
    width: 600px;
    margin: 18px;
}

.navBTN{
    border: solid 3px blue;
    padding: 6px;
    width: 90px;
    text-align: center;
    box-shadow: 4px 4px 0px crimson;
}

.mainBTNCont{    
    text-align: center;
    border-top: dotted 2px black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.BTNtag{
    font-size: 1.7em;
    padding: 21px;
    width: 50%;
    border-right: dotted 2px black;
}


.unavailData{
    font-size: 1.2em;
    padding: 21px;
    width: 50%;
}
.availData{
    text-transform: capitalize;
    width: 50%;
    font-size: 1.2em;
    padding: 21px;
}